<div class="jumbotron" ng-controller="ProjListCtrl">
    <div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Project State</th>
                <th>Client Name</th>
                <th>Date Created</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in projectList">
                <td>{{ project.name }}</td>
                <td>{{ project.state }}</td>
                <td>{{ project.client.name }}</td>
                <td>{{ project.createdDate | date: longDate }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>